
*{
  font-family: sans-serif;
}
.timer{
  border: 1px solid black;
  height: 100px;
  width: 500px;
  font-size: 30px;
  text-align: center;
}

#time {
  width:50%;
  text-align:center;
  background-color:#2D8DC3;
  color:white;
  margin-left:50%;
  transform:translate(-50%);
  margin-top:5px;
  font-family:"Do Hyeon";
  font-size:50px;
  box-sizing:border-box;
  border:3px solid black;
  border-radius:5px;
}

#MOTD {
  margin-top:3px;
  font-family:"Do Hyeon";
  font-weight:normal;
}

#location, #message {
  text-align:center;
}

p {
  text-align:center;
}

#buttons {
  text-align:center;
  margin:auto;
  width:auto;
}
#hours, #minutes, #relativenoon{
  display:inline-block;
  width:33%;
  background-color:grey;
  color:white;
  font-size:20px;
  text-align:center;
  outline:none;
  padding-bottom:2px;
  float:left;
  padding:none;
  margin:auto;
}

#row1 {
  width:50%;
  display:inline-block;
  margin-left:50%;
  transform:translate(-50%);
}

#row1 select option, #row1 select {
  text-align-last:center;
}

#submit {
  margin-top:3px;
}

#buttonContainer {
  width:50%;
  display:inline-block;
  text-align:center;
  margin-left:50%;
  transform:translate(-50%);
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F3061;
}

ul.nav li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li {
 float:left;
}

body {
 margin:0;
 padding:0;
}

ul.nav li a:hover:not(.selected) {
   background-color: #111;
   transition:0.5s;
}

.selected {
  background-color:grey;
}
.timerInput {
    background-color:#2D8DC3;
    color:white;
    font-family:"Do Hyeon";
    font-size:50px;
    box-sizing:border-box;
    border:3px solid black;
    border-radius:5px;
    resize: none;
    height: 60px;
    width: 200px;
    font-size: 40px;
    text-align: center;
}

#unit{
border : none;
}

.worldClock {
  background-image: url(images/background1.png);
  color:white;
  width:100vw;
  height:100vh;
  background-size:cover;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.Paris {
  background-image: url(images/background2.jpg);
  background-size:cover;
  color:white;
  width:100vw;
  height:100vh;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.LosAngeles {
  background-image: url(images/background3.jpg);
  background-size:cover;
  width:100vw;
  height:100vh;
  color:white;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.Moscow {
  background-image: url(images/background4.jpg);
  width:100vw;
  height:100vh;
  background-size:cover;
  color:white;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.London {
  background-image: url(images/background5.jpg);
  width:100vw;
  height:100vh;
  color:white;
  background-size:cover;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.Tokyo {
  background-image: url(images/background6.jpg);
  width:100vw;
  height:100vh;
  color:white;
  background-size:cover;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.Rome {
  background-image: url(images/background7.jpg);
  width:100vw;
  height:100vh;
  color:white;
  background-size:cover;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

#stopwatch {
  width:50%;
  text-align:center;
  background-color:#2D8DC3;
  color:white;
  margin-left:50%;
  transform:translate(-50%);
  margin-top:5px;
  font-family:"Do Hyeon";
  font-size:50px;
  box-sizing:border-box;
  border:3px solid black;
  border-radius:5px;
}
#stopwatch {
  margin-bottom:5px;
}
